@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&display=swap');

:root {
    /* colors palette */
    --primary-color: #F2BB05;
    --secondary-color:#6E0E0A;
    --accent1-color:#124E78;
    --accent2-color:#F0F0C9;
  
    /* chosen font(s) */
    --heading-font: "Pacifico";
    --paragraph-font: "Patrick Hand", Helvetica, sans-serif;
  
    /* site colors */
    --headline-color-on-white: #6E0E0A;
    --headline-color-on-color: #6E0E0A;
    --paragraph-color-on-white: #6E0E0A;
    --paragraph-color-on-color: #6E0E0A;
    --paragraph-background-color: #F2BB05  ;
    --nav-link-color: #124E78;
    --nav-background-color: #F2BB05;
    --nav-hover-link-color: #F0F0C9;
    --nav-hover-background-color: #124E78;
  }

body {
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

/* Header */

header {
    font-family: var(--paragraph-font);
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--nav-background-color);
    max-height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

#logo_link {
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: flex-start;

}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 35px;
    padding-top: 12px;
    margin-right: 200px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

/* Hero */

#carousel-hero img {
    padding-top: 80px;
}

/* Main */

.home-title, .rent-items, .aboutus-title {
    text-align: center;
}

.home-title h1, .aboutus-title h1{
    font-family: var(--heading-font);
    font-size: 4em;
    color: var(--headline-color-on-color);
    margin-top: 80px;
}

.home-title p, .rent-items p, .aboutus-text p {
    color: var(--secondary-color);
    font-size: 32px;
    padding: 80px;
}

hr {
    height: 5px;
    margin: 35px 0;
    background: var(--primary-color);
  }

.items-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    padding-bottom: 80px;
}

.items-grid img {
    max-width: 90%;
    border: solid var(--accent1-color);
}

.items-grid img:nth-of-type(1) {
    grid-column: 2/3;
    width: 550px;
    height: 300px;
}

.items-grid img:nth-of-type(2) {
    grid-column: 4/5;
    width: 550px;
    height: 300px;
}

.quote {
    max-width: 70%;
    height: 250px;
    border: solid #124E78;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    margin: auto;
    background-color: var(--accent2-color);
}

.quote h2, h3 {
    margin-top: 70px;
}

/* Footer */

footer {
    font-family: var(--paragraph-font);
    background-color: var(--nav-background-color);
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    
    color: var(--nav-link-color);
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    
    color: var(--nav-link-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent1-color);
}

footer .social img {
    padding-top: 15px;
}

/* About Us */

#hero img {
    width: 100%;
    padding-top: 80px;
}

.aboutus-text img {
    max-width: 30%;
    float: left;
    margin: 90px;
}

.aboutus-text {
    text-align: justify;
}

.aboutus-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.aboutus-grid h2{
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    text-align: center;
    padding-top: 15px;
}

.mission, .vision, .value {
    border: solid var(--paragraph-background-color);
    width: 80%;
    height: 80%;
    margin: 50px;
}

.mission p, .vision p, .value p {
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    #carousel-hero, .home, .aboutus, .items-grid , .aboutus-grid{
        display: block;
    }
    #carousel-hero img, #hero img {
        padding-top: 0;
    }
    nav, footer, .aboutus-grid {
        flex-direction: column;
    }
    header {
        min-height: 140px;
        position: sticky;
    }
    nav a {
        width: 80%;
        text-align: left;
        font-size: 15px;
        display: block;
    }
    .home-title p, .rent-items p, .aboutus-text p {
        font-size: 20px;
    }
    footer {
        margin-top: 25px;
        text-align: center;
    }
    /*About Us */
    .aboutus-text img{
        margin-left: 140px;
    }
}
