* {
    border: solid black;
}

body {
    align-content: center;
    padding: 0;
    margin: 0;
    width: 300px;
    text-align: center;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
   }

.item {
    background-color: blue;
    padding: 10px;
    width: 79px;
    color: white;
    
}

.variable {
    margin-bottom: 0;
}

sup {
    margin-top: 0;
}

.variable-description {
    font-size: 10px;
    margin-top: 0;
}