nav, footer {
    text-align: center;
    color: white;
    background-color: steelblue;
}

#active {
    background-color: white;
    color: steelblue;
}

a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
}

h1 {
    text-align: center;
    color: steelblue;
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 4px solid steelblue;
}

p {
    width: 100%;
}

.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}


main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: white;
    color: steelblue;
}